@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
    
 @font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Rubic", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}   

.main-index {
  margin-top: -150px;
  z-index: 2;
}

.number-product {
  z-index: -1;
  top: -46px;
  right: 23px;
  width: 250px;
  height: 135px;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  position: absolute;
  color: white;
}

.logo-header {
  left: 61px;
  top: -23px;
  position: absolute;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navigation-icon {
  position: absolute;
  fill:#000000;
  right: auto;
  bottom: 5px;
  top: 4px;
  left: 1px;
}

.navigation-icon-car {
  top: 35px;
  position: absolute;
  left: 39px;
  fill:#000000
}

.devace-footer {
  top: 62px;
  position: absolute;
}

.background-car-icon {
  position: absolute;
  top: 0;
  background-color: #FFE17F;
  width: 120px;
  height: 100px;
}

.navigation-list-find .navigation-link:first-child {
  padding-left: 25px;
}

.search-button {
  margin-right: 20px;
  width: 16px;
  background-color: #FFE17F;
  border: none;
  height: 16px;
  background-image: url("../image/search.svg");
}

.navigation-list-info {
  margin-bottom: 53px;
  letter-spacing: 0.2em;
  display: flex;
  font-family: "Ralewey", "Arial", sans-serif;
  font-weight: 800; 
  line-height: 21px;
  margin-left: 60px;
  margin-top: 29px;
  margin-right: 59px;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.navigation-list-find {
  padding: 0;
  list-style-type: none;
  margin-top: 49px;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 60px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.navigation-item-button{
  margin-right: 24px;
  width: 516px;
}

.navigation-item:nth-child(2) {
  margin-right: 15px;
  width: 245px;
}

.navigation-item:nth-child(3) {
  width: 120px;
  margin-right: 14px;
}

.navigation-item:nth-child(4) {
  margin-right: 25px;
  width: 141px;
}

.navigation-item-catalog {
  width: 540px;
}

.navigation-item-delivery {
  width: 140px;
  margin-right: 19px;
}

.navigation-item-warranty {
  width: 140px;
  margin-right: 62px;
}

.navigation-item-contacts {
  width: 140px;
}

.tagline {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
  height: 110px;
}

.distance {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.feature {
  font-size: 18px;
  font-weight: 400;
}

.content-text {
  margin-top: 19px;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 560px;
  height: 80px;
}

.more-information-text {
  position: relative;
  z-index: 2;
}

.more-information {
  position: relative;
  font-family: "Ralewey", "Arial", sans-serif;
  font-weight: 800; 
  line-height: 21px;
  color: #000000;
}

.more-information-icon {
  z-index: 1;
  top: 21px;
  left: 0px;
  position: absolute;
}

.product-card-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;  
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: "Ralewey", "Arial", sans-serif;
  font-weight: 800; 
  line-height: 21px;
  text-align: center;  
  text-transform: uppercase; 
  text-decoration: none;
  color: #000000;
}

.delivery {
  letter-spacing: 0.2em;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center; 
  color: #FFE17F;
  background-color: #000000;  
  text-align: center;  
  text-transform: uppercase; 
  text-decoration: none;
  }

.additionally-info-heading {
  margin-top: 0;
  min-height: 70px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 14px;
  max-width: 560px;
}

.additionally-info-heading-more{
  max-width: 497px;
  color:#444444;
}

.order {
  letter-spacing: 0.2em;
  position: relative;
  height: 20px;
  background-color:#F0F0F0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;  
  color:#000000;
  text-transform: uppercase; 
  text-decoration: none;
  padding-bottom: 43px;
  padding-top: 37px;
  max-width: 1160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-option {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  min-height: 120px;
  margin-bottom: 52px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-phone{
  color: #444444;
}
  
.info{
  background: #F0F0F0;
}

.page-footer {
  color:#FFFFFF;
  background-color:#444444;
}

.footer-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-width: 238px;
  margin-top: 133px;
  margin-bottom: 150px;
  margin-right: 114px;
}

.navigation-link-footer {
  letter-spacing: 0.2em;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
}

.navigation-link-footer:hover {
  border-bottom: 2px solid;
  color: #FFC700;
}

.navigation-link-footer:focus {
  border-radius: 20px;
  padding: 8px;
  outline: none;
  border: 2px solid #AF4FFF;
}

.navigation-link-footer:active {
  border: none;
  opacity: 0.3;
}

.footer-contacts-address-phone {
  border: 2px solid #444444;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color:#FFFFFF;
  text-decoration: none;
  width: 180px;
  height: 19px;
  margin-top: 133px;
  margin-left: 93px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
}

.footer-contacts-address-phone:hover {
  color:rgba(255, 199, 0, 1);
}

.footer-contacts-address-phone:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
} 

.footer-contacts-address-phone:active {
  opacity: 0.3;
  border: 2px solid #444444;
}

.title-product {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color:#000000;
}

.breadcrumbs {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.breadcrumbs:hover {
  opacity: 1;
}

.breadcrumbs:focus {
  padding-top: 5px;
  padding-left: 13px;
  opacity: 1;
  outline: none;
  border: 5px solid #AF4FFF;
  padding-right: 12px;
  padding-bottom: 6px;
}
/*
.breadcrumbs:focus .breadcrumbs-catalog::after {
  top: 10px;
  right: -15px;
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  background-image: url("../image/catalog/for-breadcrumbs.svg");
}         ne rabotaet
*/

.breadcrumbs:active {
  padding: 0;
  opacity: 0.3;
  border: none;
}

.breadcrumbs-main::after {
  top: 6px;
  right: -17px;
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  background-image: url("../image/catalog/for-breadcrumbs.svg");
}

.breadcrumbs-catalog::after {
  top: 6px;
  right: -15px;
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  background-image: url("../image/catalog/for-breadcrumbs.svg");
}

.sorting-filter {
  margin-left: 200px;
  background-color: #DCDCDC;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  margin-top: 25px; 
}
  
.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: black;
  border: none;
  background: #EBEBEB;
}

.catalog-filter {
  margin-top: 83px;
  margin-left: 200px;
}

.catalog-products {
  position: relative;
  background-color: #E5E5E5;
}

.catalog-products::before {
  right: 467px;
  min-height: 1400px;
  position: absolute;
  content: "";
  background-color: #E5E5E5;
  width: 100vw;
}

.catalog-filter-title {
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px; 
  color: #000000;
}

.catalog-filter-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center; 
  color: #000000;
}

.control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sorting-block {
  position: relative;
  padding-top: 25px;
  margin-bottom: 69px;
  height: 45px;
  width: 972px;
  background-color: #EBEBEB;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting-block::before {
  content: "";
  background-color: #EBEBEB;
  position: absolute;
  height: 70px;
  width: 100vw;
  left: 971px;
  margin-bottom: 20px;
  top: 0px;
}

.sorting-type {
  margin-left: 72px;
}

.sorting-type:hover .select-control {
  opacity: 0.6;
}
/*
.sorting-type:focus .select-control {
  outline: none;
  border: 5px solid #AF4FFF;
  opacity: 1;
}
*/
.sorting-type:active .select-control {
  opacity: 0.3;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.pagination-show-more {
  margin-left: 72px;
  margin-bottom: 51px;
  padding: 0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 760px;
  height: 55px;
  background-color: white;
  font-family:"Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-show-more:hover {
  border: 3px solid rgba(0, 0, 0, 1);
}

.pagination-show-more:focus {
  outline: none;
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}

.pagination-show-more:active {
  border: 3px solid rgba(0, 0, 0, 1);
  opacity: 0.1;
}

.product-card-header {
  font-family:"Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  text-transform: capitalize;
  color: #000000;
  margin-top: 33px;
}

.product-card-link {
  text-decoration: none;
}

.pagination {
  margin-left: 72px;
  margin-top: 0;
  margin-bottom: 77px;
  align-items: center;
  padding: 0;
  width: 760px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #EBEBEB;
}

.pagination-link:nth-child(1) {
  margin-right: 28px;
}

.pagination-link:nth-child(2) {
  margin-right: 30px;
}

.pagination-link:nth-child(3) {
  margin-right: 29px;
}

.pagination-link:nth-child(4) {
  margin-right: 25px;
}

.pagination-item:first-child {
  margin-right: 193px;
}

.pagination-item:last-child {
  margin-left: 102px;
}

.pagination-next{
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-prev span {
  margin-left: 29px;
}

.pagination-prev{
  width: 127px;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-prev:hover {
  background: #DCDCDC;
}

.pagination-prev:focus {
  outline: 5px solid #AF4FFF;
}

.pagination-prev:active {
  outline: none;
  opacity: 0.3;
}

.pagination-next span {
  margin-left: 18px;
}

.pagination-next{
  width: 127px;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-next:hover {
  background: #DCDCDC;
}

.pagination-next:focus {
  outline: 5px solid #AF4FFF;
}

.pagination-next:active {
  outline: none;
  opacity: 0.3;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:focus {
  opacity: 1;
  outline: 5px solid #AF4FFF;
}

.pagination-link:active {
  outline: none;
  opacity: 0.1;
}

.navigation-index {
  min-height: 300px;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: #FFE17F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 1160px;
}

.product-card-list {
  display: flex;
  width: 1160px;
  padding: 0;
  margin-left: 140px;
  margin-right: 140px;
  list-style-type: none;
}

.product-card-item {
  margin-right: 40px;
}

.product-card-item:nth-child(6) {
  margin-right: none;
}

.about-us-contacts {
  display: flex;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 87px;
}

.page-footer {
  justify-content: space-between;
  display: flex;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.block-info {
  margin-bottom: 90px;
}

.catalog-filter-product {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.breadcrumbs-list li:nth-child(1) {
  margin-right: 36px;
}

.breadcrumbs-list li:nth-child(2) {
  margin-right: 34px;
}

.content-text-main {
  width: 560px;
}

.text-slider {
  max-width: 1160px;
  display: flex;
}

.product-image-slider-first-quadcopter {
  display: flex;
  max-width: 560px;
}

.text-button-slider-first-quadcopter {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin-left: 40px;
}

.product-image-slider-second-fitness {
  display: none;
  max-width: 560px;
}

.text-button-slider-second-fitness {
  display: none;
  flex-direction: column;
  max-width: 560px;
  margin-left: 40px;
}

.product-image-slider-third-selfie {
  display: none;
  max-width: 560px;
}

.text-button-slider-third-selfie {
  display: none;
  flex-direction: column;
  max-width: 560px;
  margin-left: 40px;
}

.button-more {
  margin-top: 30px;
  display: flex;
}

.slider-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.info {
  display: flex;
}

.message-button-header {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 560px;
  margin-right: 40px;
}

.text-about-message {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  max-width: 1160px;
}

.product-card-box {
  width: 160px;
  height: 160px;
}

.product-card-list {
  min-height: 253px;
  margin-bottom: 169px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.additionally-info {
  margin-top: -20px;
  position: relative;
  margin-bottom: 0;
  width: 280px;
  margin-right: 120px;
  padding: 0;
  list-style-type: none;
}
.additionally-info::before {
  top: -80px;
  right: 0;
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: black;
  content: "";
}

.additionally-info li:nth-child(1) {
  margin-bottom: 33px;
  height: 40px;
  background-color: black;
  max-width: 280px;
}

.additionally-info li:nth-child(2) {
  margin-bottom: 45px;
}

.additionally-info li:nth-child(3) {
  margin-bottom: 150px;
}

.additionally-info-text {
  margin-top: -30px;
  position: relative;
  padding: 0;
  list-style-type: none;
}

.icon-man-delivery {
  left: 531px;
  top: 15px;
  position: absolute;
}

.contacts-schedule {
  list-style-type: none;
}

.navigation-list-footer {
  list-style-type: none;
}

.options-product {
  margin-top: 73px;
  gap: 20px;
  display: grid;
  grid-template-columns: 160px 160px;
  list-style-type: none;
}

.options-product-third {
  margin-top: 73px;
  gap: 20px;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  list-style-type: none;
}

.distance-8-5 {
  margin: 0;
  grid-column: 1/2;
}

.stick-length {
  margin: 0;
  grid-row: 2/3;
}

.heft-5 {
  margin: 0;
  grid-column: 2/3;
}

.heft {
  margin: 0;
  grid-row: 2/3;
}

.carbon {
  margin: 0;
  grid-column: 3/4;
}

.material {
  margin: 0;
  grid-row: 2/3;
}

.feature-flight {
  margin: 0;
  grid-row: 2/3;
}

.product-card-image-glasses {
  margin: 52px 32px;
}

.distance-50 {
  margin: 0;
  grid-column: 2/3;
}

.product-card-image-selfie {
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 43px;
}

.product-card-image-camera {
  margin-top: 38px;
  margin-left: 49px;
  margin-bottom: 35px;
  margin-right: 40px;
}

.product-card-image-fitness {
  margin-top: 50px;
  margin-left: 26px;
  margin-bottom: 45px;
  margin-right: 27px;
}

.product-card-image-watch {
  margin-top: 31px;
  margin-left: 53px;
  margin-bottom: 31px;
  margin-right: 51px;
}

.product-card-image-quadcopter {
  margin-top: 49px;
  margin-left: 14px;
  margin-bottom: 42px;
  margin-right: 14px;
}

.rare-product-block {
  margin-bottom: 97px;
}

.about-us {
  position: relative;
  margin-top: 42px;
  margin-bottom: 26px;
  min-height: 70px;
}

.heading.about-us::before {
  position: absolute;
  width: 80px;
  content: "";
  height: 7px;
  background-color: black;
  top: -49px;
}

.text-about-us {
  min-height: 202px;
  min-width: 497px;
  margin-bottom: 23px;
}

.navigation-list-footer {
  margin-bottom: 63px;
  padding: 0%;
  display: flex;
  margin-top: 137px;
  margin-right: 58px;
}

.navigation-item-footer {
  margin-right: 7px;
  width: 148px;
  height: 20px;
}

.navigation-item-footer:nth-child(3) {
  margin-right: none;
}

.footer-social-list {
  margin-top: 0;
  margin-left: 154px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:nth-child(3) {
  margin-right: none;
}

.all-contacts {
  margin-left: 103px;
  min-width: 560px;
}

.contacts {
  position: relative;
  margin-top: 42px;
  height: 70px;
  margin-bottom: 26px;
}

.delivery-option-item::marker {
  color:#FFC700;
}

.heading.contacts::before {
  position: absolute;
  width: 80px;
  content: "";
  height: 7px;
  background-color: black;
  top: -49px;
}

.text-about-delivery {
  max-width: 498px;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  padding: 0;
  margin-bottom: 67px;
}

.block-info-list {
  margin-bottom: 90px;
  height: 288px;
  background-color: #F0F0F0;
}

.mailing-yes {
  width: 560px;
  min-height: 120px;
  margin-bottom: 53px;
  margin-top: 75px;
  margin-right: 20px;
}

.message-info {
  width: 560px;
  margin-top: 86px;
}

.message-info-free {
  margin-top: 12px;
  background-image: url("../image/chack-mark.svg");
  background-repeat: no-repeat;
  width: 164px;
  text-align: right;
  background-position-y: center;
  margin-bottom: 143px;
  margin-left: auto;
}

.breadcrumbs-block {
  width: 1160px;
  margin-left: 60px;
}

.wraper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1160px;
}

.delivery.button {
  width: 160px;
  padding-left: 10px;
  display: flex;
  padding-top: 9px;
}

.navigation-link-name {
  padding-left: 25px;
  position: relative;
  text-decoration: none;
  color: #000000;
  width: 134px;
  display: inline-block;
}

.navigation-link-exit {
  opacity: 0.3;
  color:#000000;
  text-decoration: none;
}

.filter-container {
  position: relative;
  height: 70px;
  background-color: #DCDCDC;
}

.filter-container::before {
  right: 467px;
  height: 70px;
  position: absolute;
  content: "";
  background-color: #DCDCDC;
  width: 100vw;
}

.text-info {
  position: relative;
  margin-top: 123px;
}

.more-information.button {
  padding-top: 14px;
  height: 36px;
  margin-right: 200px;
  width: 220px;
}

.product-card-list-catalog {
  margin-left: 72px;
  margin-bottom: 44px;
  margin-top: 0;
  list-style-type: none;
  gap: 40px 44px;
  grid-template-columns: 360px 360px;
  padding: 0;
  display: grid;
}

.product-card-link-catalog {
  position: relative;
  text-decoration: none;
  color: #000000;
  display: grid;
  grid-template-rows: 380px 32px 21px 29px;
  grid-template-columns: 280px 66px;
}

.product-card-image {
  width:360px;
  grid-column: 1/-1;
}

.product-card-link-catalog:hover .button-show-more {
  display:block;
}

.product-card-link-catalog:focus {
  outline: none;
}

.product-card-link-catalog:focus .product-card-image{
  outline: 5px solid #AF4FFF;
}

.product-card-link-catalog:focus .product-card-title {
  color:#AF4FFF;
}

.product-card-link-catalog:focus .product-card-price {
  color:#AF4FFF;
}

.product-card-link-catalog:active {
  opacity: 0.3;
}

.product-card-link-catalog:active .product-card-image{
  outline: none;
}

.product-card-link-catalog:focus .product-card-title {
  color:#000000;
}

.product-card-link-catalog:focus .product-card-price {
  color:#000000;
}

.product-card-link-catalog:active .button-show-more {
  display:block;
}

.product-card-title {
  grid-row: 3/5;
}

.product-card-price {
  grid-column: 2/3;
  grid-row: 3/4;
}

.product-card-title {
  margin: 0;
}

.navigation {
  position: relative;
}

.logo {
  position: absolute;
  left: 63px;
  top: -23px;
}

.more-information.button {
  background-image: url("../image/more-info.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.more-information.button:hover {
  background-color: #FFE17F;
}

.more-information.button:focus {
  outline: none;
  background-image: url("../image/more-info-purple.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.more-information.button:active {
  background-image: none;
  background-color: #FFE17F;
  opacity: 0.3;
}

.phone-html {
  display: flex;
  flex-direction: column;
}

.number {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  position: center;
  z-index: 2;
  left: -14px;
  position: absolute;
  width: 21px;
  height: 21px;
}

.htmlacademy-link {
  background-position: center;
  margin-top: 72px;
  width: 115px;
  height: 33px;
  display: inline-block;
  margin-left: auto;
  background-image: url("../image/footer.svg");
  background-repeat: no-repeat;
}

.htmlacademy-link:hover {
  background-image: url("../image/html-white.svg");
}

.htmlacademy-link:focus {
  border-radius: 10px;
  padding: 5px;
  outline: none;
  display: block;
  border: 2px solid #AF4FFF;
}

.htmlacademy-link:active {
  padding: 0;
  border: none;
  background-image: url("../image/html-white.svg");
  opacity: 0.3;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}

.navigation-link:active {
  border: none;
  opacity: 0.3;
}

.product-card-link {
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.product-card-link:hover {
  background-color: #FFC700;;
}

.product-card-link:focus {
  outline: none;
  border: 5px solid #AF4FFF;
  color: #AF4FFF;
}

.product-card-link:focus :last-child {
  color: #AF4FFF;
}

.product-card-link:active {
  border: none;
  background-color: #FFC700;
}

.product-card-link:active :only-child {
  opacity: 0.3;
}

.product-card-link:active :last-child {
  color: #000000;
  opacity: 0.3;
}

.background-letter-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
  top: 29px;
  position: absolute;
  right: 33px;
}

.rare-icon {
  position: absolute;
  top: 14px;
  left: 19px;
}

.order:hover .background-car-icon {
  background-color: #FFC700;
}

.order:focus {
  outline: none;
  border: 5px solid #AF4FFF;
}

.order:active {
  border: none;
}

.order:active .rare-icon{
  opacity: 0.3;
}

.order:active .background-car-icon {
  background-color: #FFC700;
}

.order:active .navigation-icon-car {
  opacity: 0.3;
}

.navigation-link-delivery,
.navigation-link-warranty,
.navigation-link-contacts {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navigation-link-delivery:hover,
.navigation-link-warranty:hover,
.navigation-link-contacts:hover {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.navigation-link-delivery:focus,
.navigation-link-warranty:focus,
.navigation-link-contacts:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
  opacity: 1;
}

.navigation-link-delivery:active,
.navigation-link-warranty:active,
.navigation-link-contacts:active {
  border-bottom: 2px solid #000000;
  opacity: 0.3;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0px;
}

.search-field {
  opacity: 0.3;
  padding: 0;
  background: #FFE17F;
  border: none;
}
.navigation-find:hover .search-field {
  opacity: 0.6;
}

.navigation-find:focus {
  border: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 20px;
}

.navigation-link-catalog {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.header-catalog-list {
  display: none;
}

.navigation-link-catalog:hover .header-catalog-list {
  display: inline-block;
}

.mail-input {
  font-family: "Rubic", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  background: #F0F0F0;
  color: #444444;
  border-left: none;
  border-top: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  width: 601px;
  opacity: 0.5;
  border-right: none;
}

.button.mail {
  font-size: 18px;
  width: 260px;
  padding-top: 17px;
  letter-spacing: 0.2em;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-bottom: 18px;
}

.message-button-header {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  margin-right: 40px;
}
.mail-form {
  margin-bottom: 131px;
  height: 55px;
  display: flex;
  width: 861px;
}

.wraper-for-mail {
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1160px;
}

.footer-social-link {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  display: block;
  height: 40px;
  border-radius: 50%;
}

.social-icon-fc {
  position: absolute;
  fill: #444444;
  bottom: 11px;
  top: 11px;
  left: 16px;
  right: 15px;
}

.social-icon-inst {
  position: absolute;
  fill:#444444;
  bottom: 12px;
  top: 12px;
  left: 12px;
  right: 12px;
}

.social-icon-tw {
  position: absolute;
  fill:#444444;
  bottom: 13px;
  top: 13px;
  left: 13px;
  right: 12px;
}

.footer-social-link:hover {
  background: #FFC700;
}

.footer-social-link:focus {
  background: #444444;
  outline: 5px solid #AF4FFF;
}

.footer-social-link:focus .social-icon-fc {
  fill: #FFFFFF;
}

.footer-social-link:focus .social-icon-inst {
  fill: #FFFFFF;
}

.footer-social-link:focus .social-icon-tw {
  fill: #FFFFFF;
}

.footer-social-link:active {
  outline: none;
  background: #FFC700;
  opacity: 0.6;
}

.footer-social-link:active .social-icon-fc {
  opacity: 0.6;
  fill: #444444;
}

.footer-social-link:active .social-icon-inst {
  opacity: 0.6;
  fill: #444444;
}

.footer-social-link:active .social-icon-tw {
  opacity: 0.6;
  fill: #444444;
}

.button-show-more {
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 160px;
  height: 20px;
  position: absolute;
  top: 180px;
  left: 100px;
  color: black;
  text-decoration: none;
  z-index: 1;
  display: none;
}

.button-show-more::before {
  top: 7px;
  position: absolute;
  background: #FFC700;
  content: "";
  width: 180px;
  height: 8px;
  z-index: -1;
  left: -10px;
}

.product-card-item-catalog {
  position: relative;
}

.information-about-us{
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
}

.information-about-us::before {
  top: 9px;
  position: absolute;
  background: #FFE17F;
  content: "";
  width: 259px;
  height: 8px;
  z-index: -1;
  left: -27px;
}

.button-feedback{
  letter-spacing: 0.2em;
  position: relative;
}

.button-feedback::before {
  top: 9px;
  position: absolute;
  background: #FFE17F;
  content: "";
  width: 259px;
  height: 8px;
  z-index: -1;
  left: -4px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
} 

.slider-pagination-item {
  margin-right: 22px;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  border: 2px solid#AF4FFF;
  outline: none;
}

.slider-pagination-button:active {
  border: 2px solid #000000;
  opacity: 0.3;
}

.slider-pagination-button-current {
  background: #000000;
}

.slider-button {
  padding: 10px;
  height: 60px;
  color: #000000;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url("../image/slider-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-wraper {
  position: relative;
}

.slider-control {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.slider-button:active {
  border: none;
  opacity: 0.3;
}

.feature {
  margin: 0;
}

.modal-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}

.modal-content {
  margin-top: 72px;
  margin-right: 80px;
  margin-left: 80px;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 72px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 88px;
  background-color: #FFFFFF;
}

.modal-auth {
  position: relative;
  height: 580px;
  padding: 0;
  width: 920px;
  border: 10px solid #000000;
}

.modal-title {
  height: 60px;
  margin-bottom: 58px;
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.navigation-item {
  position: relative;
}

.popover {
  display: none;
  position: absolute;
  width: 320px;
  min-height: 125px;
  background: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  position: absolute; 
  top: 33px;
  right: 0;
  z-index: 3;
  box-sizing: border-box;
}

.popover-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popover-text-info {
  height: 44px;
  background: #1A1A1A;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.product-basket-list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.product-link-in-basket {
  margin-right: 25px;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color:#FFFFFF;
}

.product-link-in-basket:hover {
  opacity: 0.6;
}

.product-link-in-basket:focus {
  outline: none;
  color:#AF4FFF;
}

.product-link-in-basket:focus .product-card-image-in-basket {
  outline: 5px solid #AF4FFF;
}

.product-link-in-basket:active {
  color: #FFFFFF;
  outline: none;
  opacity: 0.3;
}

.open-basket-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 280px;
  height: 50px;
  background-color: #FFFFFF;
  margin: 20px;
}

.open-basket-link:hover {
  background: #FFE17F;
}

.open-basket-link:focus {
  background-color: #FFFFFF;
  outline: 5px solid #AF4FFF;
}

.open-basket-link:active {
  background: #FFE17F;
  outline: none;
}

.open-basket-link:active span {
  opacity: 0.3;
}

.open-basket-link span {
  display: flex;
  margin-top: 15px;
  width: 280px;
  height: 20px;
  justify-content: center;
}

.popover-text-info span {
  margin-left: 20px;
  margin-right: 20px;
}

.popover-item {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 41px;
}

.popover-item:last-child {
  margin-bottom: 0;
} 

.button-delete-product {
  display: block;
  width: 25px;
  cursor: pointer;
  padding: 0;
  position: relative;
  background-color: #000000;
  border: none;
  height: 25px;
}

.button-delete-product:hover {
  opacity: 0.6;
}

.button-delete-product:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 50%;
}

.button-delete-product:active {
  border: none;
  opacity: 0.3;
}

.icon-in-popover {
  position: absolute;
  top: 6px;
  left: 4px;
}

.product-card-image-in-basket {
  margin-right: 23px;
}

.product-card-image-in-basket span {
  width: 180px;
  min-height: 43px;
}
  
.popover-content::before {
  position: absolute;
  width: 12px;
  content: "";
  height: 28px;
  transform: rotate(45deg);
  background-color: black;
  top: -6px;
  left: 50%;
  right: 50%;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.name-icon {
  top: 58px;
  right: 61px;
  position: absolute;
}

.name-mail-block {
  display: flex;
}

.number-product-block {
  position: relative;
  display: flex;
}

.modal-label {
  height: 34px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.field-for-name+span {
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.field-for-email+span {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.button-catalog {
  width: 50px;
  height: 50px;
  position: relative;
  opacity: 0.2;
  border-radius: 50%;
  border: 2px solid #000000;
  box-sizing: border-box;
  background: transparent;
}

.button-catalog::before {
  transform: translateX(50%);
  right: 50%;
  content: "";
  width: 16px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 24px;
}

.button-catalog::after {
  content: "";
  height: 16px;
  width: 2px;
  background: #000000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17px;
}

.field-for-name {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  background: #F0F0F0;
  width: 340px;
  height: 60px;
  border: none;
  margin-right: 40px;
}

.field-for-email {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  background: #F0F0F0;
  width: 340px;
  height: 60px;
  border: none;
}

.field-for-product {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin-right: 40px;
  background: #F0F0F0;
  width: 540px;
  height: 60px;
  border: none;
}

.text-send {
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
}

.button-send {
  cursor: pointer;
  margin-left: 19px;
  z-index: 1;
  position: relative;
  border: none;
  background-color: #FFFFFF;
}

.button-send::before {
  top: 7px;
  position: absolute;
  background: #FFC700;
  content: "";
  width: 200px;
  height: 8px;
  z-index: -1;
  left: -19px;
}

.modal-close-button {
  display: block;
  width: 25px;
  cursor: pointer;
  padding: 0;
  background-color: #FFFFFF;
  border: none;
  height: 25px;
  position: absolute;
  right: 80px;
  top: 89px;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: none;
}

.modal-close-button:focus .icon-in-modal {
  padding: 12px;
  border: 5px solid #AF4FFF;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:active .icon-in-modal {
  padding: 0;
  border: none;
}

.background-icon-modal {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  top: 16px;
  right: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-email-icon {
  position: absolute;
  right: 24px;
  top: 58px;
  position: absolute;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
}

.button-input-number {
  display: flex;
}

.field-for-number {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: #F0F0F0;
  width: 60px;
  height: 60px;
  border: none;
  text-align: center;
}

.bt-minus {
  cursor: pointer;
  position: relative;
  border: none;
  width:50px;
  height: 60px;
  padding: 0;
}

.bt-plus {
  cursor: pointer;
  padding: 0;
  position: relative;
  width:50px;
  height: 60px;
  border: none;
}

.bt-minus::after {
  opacity: 0.3;
  content: "";
  width: 16px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 19px;
  top: 29px;
}

.bt-plus::after {
  right: 19px;
  top: 29px;
  opacity: 0.3;
  content: "";
  width: 16px;
  height: 2px;
  background: #000000;
  position: absolute;
}

.bt-plus::before {
  right: 26px;
  top: 22px;
  opacity: 0.3;
  content: "";
  width: 2px;
  height: 16px;
  background: #000000;
  position: absolute;
}

.auth-form-field:hover {
  background: #EBEBEB;
}

.auth-form-field:focus {
  outline: 5px solid #AF4FFF;
}

.auth-form-field:active {
  outline: none;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
}

.auth-form-field:disabled {
  background: #FFFFFF;
  border: 3px solid #FF3D3D;
  box-sizing: border-box;
}

.field-for-number:hover .bt-minus {
  background: #EBEBEB;
}

.field-for-number:hover .bt-plus {
  background: #EBEBEB;
}

.button-input-number:focus-within {
  outline: 5px solid #AF4FFF;
}

.field-for-number:disabled .bt-minus {
  background: #FFFFFF;
  border: 3px solid #FF3D3D;
  box-sizing: border-box;
  border-right: none;
}

.field-for-number:disabled .bt-plus {
  background: #FFFFFF;
  border: 3px solid #FF3D3D;
  box-sizing: border-box;
  border-left: none;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #DCDCDC;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
}

.catalog-filter-label:first-child {
  margin-right: 66px;
}

.range-input {
  background-color: transparent;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-child {
  position: relative;
  margin-bottom: 48px;
}

.catalog-filter-group:first-child::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -12px;
}

.catalog-filter-group:nth-child(2) {
  position: relative;
  margin-bottom: 58px;
}

.catalog-filter-group:nth-child(2)::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -12px;
}

.catalog-filter-group:nth-child(3){
  position: relative;
  margin-bottom: 52px;
}

.catalog-filter-group:nth-child(3)::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -12px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark {
  opacity: 1;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  opacity: 1;
  height: 10px;
  background-image: url("../image/catalog/chack-mark-catalog.svg");
  content: "";
}

.control-mark-yes,
.control-mark-no {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  opacity: 0.2;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
}

.catalog-filter-list {
  padding: 0;
  list-style-type: none;
}

.control-input[type="radio"]:checked + .control-mark-yes {
  opacity: 1;
}

.control-input[type="radio"]:checked + .control-mark-no {
  opacity: 1;
}

.control-input[type="radio"]:checked + .control-mark-yes::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  opacity: 1;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark-no::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.button-in-filter {
  cursor: pointer;
  margin-left: 19px;
  z-index: 1;
  position: relative;
  border: none;
  background-color: #E5E5E5;
}

.button-in-filter::before {
  top: 7px;
  position: absolute;
  background: #FFC700;
  content: "";
  width: 200px;
  height: 8px;
  z-index: -1;
  left: -29px;
}

.button-in-filter span {
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
}
