@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Rubic", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  margin-top: -150px;
  z-index: 2;
}

.number-product {
  z-index: -1;
  top: -46px;
  right: 23px;
  width: 250px;
  height: 135px;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  position: absolute;
  color: #ffffff;
}

.logo-header {
  left: 61px;
  top: -23px;
  position: absolute;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navigation-icon {
  position: absolute;
  fill: #000000;
  right: auto;
  bottom: 5px;
  top: 4px;
  left: 1px;
}

.navigation-icon-car {
  top: 35px;
  position: absolute;
  left: 39px;
  fill: #000000;
}

.device-footer {
  top: 62px;
  position: absolute;
}

.background-car-icon {
  position: absolute;
  top: 0;
  background-color: #ffe17f;
  width: 120px;
  height: 100px;
}

.navigation-list-find .navigation-link {
  padding-left: 25px;
}

.navigation-link-entry::before {
  width: 117px;
  content: "";
  position: absolute;
  height: 40px;
  top: -10px;
  left: -26px;
}

.navigation-link-exit::before {
  width: 90px;
  content: "";
  position: absolute;
  height: 40px;
  top: -10px;
  left: 3px;
}

.navigation-link-name::before {
  width: 150px;
  content: "";
  position: absolute;
  height: 40px;
  top: -10px;
  left: -15px;
}

.navigation-link-compare::before {
  width: 136px;
  content: "";
  position: absolute;
  height: 40px;
  top: -10px;
  left: -26px;
}

.navigation-link-basket::before {
  width: 131px;
  content: "";
  position: absolute;
  height: 40px;
  top: -10px;
  left: -26px;
}

.search-button {
  margin-right: 20px;
  width: 16px;
  background-color: #ffe17f;
  border: none;
  height: 16px;
  background-image: url("../image/search.svg");
}

.navigation-list-info {
  margin-bottom: 53px;
  letter-spacing: 0.1em;
  display: flex;
  font-family: "Ralewey", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  margin-left: 60px;
  margin-top: 29px;
  margin-right: 59px;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.navigation-list-find {
  padding: 0;
  list-style-type: none;
  margin-top: 49px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 60px;
}

.navigation-item-button {
  margin-right: 24px;
  width: 516px;
}

.navigation-item:nth-child(2) {
  margin-right: 15px;
  width: 245px;
}

.navigation-item:nth-child(3) {
  width: 120px;
  margin-right: 29px;
}

.navigation-item:nth-child(4) {
  margin-right: 25px;
  width: 100px;
}

.navigation-item-catalog {
  position: relative;
  width: 540px;
}

.navigation-item-delivery {
  width: 140px;
  margin-right: 19px;
}

.navigation-item-warranty {
  width: 140px;
  margin-right: 62px;
}

.navigation-item-contacts {
  width: 140px;
}

.tagline {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
  height: 110px;
}

.distance {
  font-weight: 400;
  font-size: 38px;
  line-height: 10px;
  color: #000000;
}

.feature {
  margin: 0;
  font-weight: 400;
}

.content-text {
  line-height: 35px;
  margin-top: 19px;
  display: block;
  color: #444444;
  width: 560px;
}

.more-information-text {
  position: relative;
  z-index: 2;
}

.more-information {
  position: relative;
  font-family: "Ralewey", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.more-information-icon {
  z-index: 1;
  top: 21px;
  left: 0;
  position: absolute;
}

.product-card-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 160px;
}

.button {
  font-family: "Ralewey", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.additionally-info-heading {
  margin-top: 0;
  min-height: 70px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 14px;
  max-width: 560px;
}

.additionally-info-heading-more {
  max-width: 497px;
  color: #444444;
}

.order {
  letter-spacing: 0.2em;
  position: relative;
  height: 20px;
  background-color: #f0f0f0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 43px;
  padding-top: 37px;
  max-width: 1160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-option {
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  min-height: 120px;
  margin-bottom: 52px;
}

.delivery-option-item {
  position: relative;
}

.delivery-option-item::before {
  top: 5px;
  left: -39px;
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
}

.delivery-option-item:first-child {
  margin-bottom: 20px;
}

.delivery-option-item:nth-child(2) {
  margin-bottom: 20px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  letter-spacing: 0.04px;
}

.contacts-phone {
  color: #444444;
}

.info {
  display: flex;
  background: #f0f0f0;
}

.page-footer {
  color: #ffffff;
  background-color: #444444;
  justify-content: space-between;
  display: flex;
}

.footer-adress {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-width: 238px;
  margin-top: 133px;
  margin-bottom: 150px;
  margin-right: 124px;
}

.footer-adress::before {
  position: absolute;
  width: 80px;
  content: "";
  height: 7px;
  background-color: #ffc700;
  top: 104px;
}

.navigation-link-footer {
  vertical-align: text-top;
  letter-spacing: 0.2em;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.navigation-link-footer::before {
  content: "";
  position: absolute;
  width: 165px;
  height: 50px;
  top: -14px;
  left: -20px;
}

.navigation-link-footer:hover {
  border-bottom: 2px solid;
  color: #ffc700;
}

.navigation-link-footer:focus {
  outline: none;
}

.navigation-link-footer:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-link-footer:active {
  opacity: 0.3;
}

.navigation-link-footer:active::before {
  outline: none;
}

.footer-contacts-phone {
  border: 2px solid #444444;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  width: 180px;
  margin-top: 133px;
  margin-left: 80px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
}

.footer-contacts-phone:hover {
  color: rgba(255, 199, 0, 1);
}

.footer-contacts-phone:focus {
  outline: none;
  border: 2px solid #af4fff;
  border-radius: 20px;
}

.footer-contacts-phone:active {
  opacity: 0.3;
  border: 2px solid #444444;
}

.title-product {
  margin-bottom: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 37px;
}

.breadcrumbs {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.breadcrumbs:hover {
  opacity: 1;
}

.breadcrumbs:focus {
  outline: 5px solid #af4fff;
}

.breadcrumbs:active {
  padding: 0;
  opacity: 0.3;
  border: none;
}

.breadcrumbs-main::after {
  top: 5px;
  right: -22px;
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  background-image: url("../image/catalog/for-breadcrumbs.svg");
}

.breadcrumbs-catalog::after {
  top: 6px;
  right: -15px;
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  background-image: url("../image/catalog/for-breadcrumbs.svg");
}

.sorting-filter {
  letter-spacing: 0.2em;
  margin-left: 200px;
  background-color: #dcdcdc;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  margin-top: 25px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: none;
  background: #ebebeb;
  margin-left: 51px;
}

.catalog-filter {
  margin-right: 69px;
  margin-top: 83px;
  margin-left: 200px;
}

.catalog-products {
  position: relative;
  background-color: #e5e5e5;
}

.catalog-products::before {
  right: 467px;
  min-height: 1400px;
  position: absolute;
  content: "";
  background-color: #e5e5e5;
  width: 100vw;
}

.catalog-filter-title {
  margin-bottom: 20px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.control-label {
  vertical-align: top;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sorting-block {
  position: relative;
  padding-top: 25px;
  margin-bottom: 69px;
  background-color: #ebebeb;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting-block::before {
  content: "";
  background-color: #ebebeb;
  position: absolute;
  height: 70px;
  width: 100vw;
  left: 971px;
  margin-bottom: 20px;
  top: 0;
}

.sorting-type {
  display: flex;
  margin-left: 74px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 5px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.02em;
  grid-row: 3/5;
  margin: 0;
}

b {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  grid-column: 2/3;
  grid-row: 3/4;
}

.pagination-show-more {
  letter-spacing: 0.2em;
  margin-left: 72px;
  margin-bottom: 51px;
  padding: 0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 760px;
  background-color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-show-more:hover {
  border: 3px solid rgba(0, 0, 0, 1);
}

.pagination-show-more:focus {
  outline: none;
  border: 5px solid #af4fff;
  box-sizing: border-box;
}

.pagination-show-more:active {
  border: 3px solid rgba(0, 0, 0, 1);
  opacity: 0.1;
}

.product-card-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-transform: initial;
  color: #000000;
  margin-top: 33px;
  letter-spacing: -0.02em;
}

.pagination {
  line-height: 19px;
  font-size: 16px;
  margin-left: 72px;
  margin-top: 0;
  margin-bottom: 77px;
  align-items: center;
  padding: 0;
  width: 760px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #ebebeb;
}

.pagination-link:nth-child(1) {
  margin-right: 20px;
}

.pagination-link:nth-child(2) {
  margin-right: 25px;
}

.pagination-link:nth-child(3) {
  margin-right: 29px;
}

.pagination-link:nth-child(4) {
  margin-right: 25px;
}

.pagination-item:first-child {
  margin-right: 160px;
}

.pagination-item:last-child {
  margin-left: 115px;
}

.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  height: 70px;
  display: flex;
  align-items: center;
}

.pagination-prev span {
  margin-left: 29px;
}

.pagination-prev {
  width: 127px;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-prev:hover {
  background: #dcdcdc;
}

.pagination-prev:focus {
  outline: 5px solid #af4fff;
}

.pagination-prev:active {
  outline: none;
  opacity: 0.3;
}

.pagination-next span {
  margin-left: 18px;
}

.pagination-next:hover {
  background: #dcdcdc;
}

.pagination-next:focus {
  outline: 5px solid #af4fff;
}

.pagination-next:active {
  outline: none;
  opacity: 0.3;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:focus {
  opacity: 1;
  outline: 5px solid #af4fff;
}

.pagination-link:active {
  outline: none;
  opacity: 0.1;
}

.navigation-index {
  min-height: 300px;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffe17f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 1160px;
}

.product-card-list {
  display: flex;
  width: 1160px;
  padding: 0;
  list-style-type: none;
  min-height: 253px;
  margin-bottom: 169px;
  margin-left: auto;
  margin-right: auto;
}

.product-card-item {
  margin-right: 40px;
}

.product-card-item:nth-child(6) {
  margin-right: none;
}

.about-us-contacts {
  display: flex;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.block-info {
  margin-bottom: 90px;
}

.catalog-filter-product {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.breadcrumbs-list li:nth-child(1) {
  margin-right: 36px;
}

.breadcrumbs-list li:nth-child(2) {
  margin-right: 34px;
}

.content-text-main {
  width: 560px;
}

.text-slider {
  margin-bottom: 60px;
  min-width: 1160px;
  display: flex;
}

.product-image-slider-first-quadcopter {
  display: flex;
  max-width: 560px;
}

.text-button-slider-first-quadcopter {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin-left: 40px;
}

.product-image-slider-second-fitness {
  display: none;
  max-width: 560px;
}

.text-button-slider-second-fitness {
  display: none;
  flex-direction: column;
  max-width: 560px;
  margin-left: 40px;
}

.product-image-slider-third-selfie {
  display: none;
  max-width: 560px;
}

.text-button-slider-third-selfie {
  display: none;
  flex-direction: column;
  max-width: 560px;
  margin-left: 40px;
}

.button-in-slider {
  margin-top: 30px;
  display: flex;
}

.slider-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.message-button-header {
  display: flex;
  margin-left: auto;
  max-width: 1160px;
  margin-right: 40px;
}

.text-about-message {
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  max-width: 1160px;
}

.product-card-box {
  background: #ffe17f;
  width: 160px;
  height: 160px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.additionally-info {
  margin-top: -20px;
  position: relative;
  margin-bottom: 0;
  width: 280px;
  margin-right: 120px;
  padding: 0;
  list-style-type: none;
}

.additionally-info::before {
  top: -80px;
  right: 0;
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000000;
  content: "";
}

.additionally-info li:nth-child(1) {
  margin-bottom: 23px;
  min-height: 40px;
  background-color: #000000;
  max-width: 280px;
}

.additionally-info li:nth-child(2) {
  margin-bottom: 25px;
}

.additionally-info li:nth-child(3) {
  margin-bottom: 150px;
}

.additionally-info-text {
  margin-top: -30px;
  position: relative;
  padding: 0;
  list-style-type: none;
}

.icon-man-delivery {
  left: 555px;
  top: 15px;
  position: absolute;
}

.icon-warranty {
  left: 531px;
  top: 15px;
  position: absolute;
}

.icon-credit {
  left: 531px;
  top: 15px;
  position: absolute;
}

.options-product {
  margin-top: 73px;
  gap: 20px 0;
  display: grid;
  grid-template-columns: 160px 160px;
  list-style-type: none;
  font-size: 17px;
  line-height: 25px;
}

.options-product-third {
  margin-top: 73px;
  gap: 20px;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  list-style-type: none;
}

.distance-8-5 {
  margin: 0;
  grid-column: 1/2;
}

.stick-length {
  margin: 0;
  grid-row: 2/3;
}

.heft-5 {
  margin: 0;
  grid-column: 2/3;
}

.heft {
  margin: 0;
  grid-row: 2/3;
}

.carbon {
  margin: 0;
  grid-column: 3/4;
}

.material {
  margin: 0;
  grid-row: 2/3;
}

.feature-flight {
  margin: 0;
  grid-row: 2/3;
}

.product-card-image-glasses {
  margin: 52px 32px;
}

.distance-50 {
  margin: 0;
  grid-column: 2/3;
}

.product-card-image-selfie {
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 43px;
}

.product-card-image-camera {
  margin-top: 38px;
  margin-left: 49px;
  margin-bottom: 35px;
  margin-right: 40px;
}

.product-card-image-fitness {
  margin-top: 50px;
  margin-left: 26px;
  margin-bottom: 45px;
  margin-right: 27px;
}

.product-card-image-watch {
  margin-top: 31px;
  margin-left: 53px;
  margin-bottom: 31px;
  margin-right: 51px;
}

.product-card-image-quadcopter {
  margin-top: 49px;
  margin-left: 14px;
  margin-bottom: 42px;
  margin-right: 14px;
}

.rare-product-block {
  margin-bottom: 97px;
}

.about-us {
  position: relative;
  margin-top: 49px;
  margin-bottom: 26px;
  min-height: 70px;
}

.text-about-us p {
  margin-bottom: 30px;
}

.heading.about-us::before {
  position: absolute;
  width: 80px;
  content: "";
  height: 7px;
  background-color: #000000;
  top: -49px;
}

.text-about-us {
  min-height: 202px;
  min-width: 497px;
  margin-bottom: 23px;
}

.navigation-list-footer {
  margin-bottom: 63px;
  padding: 0%;
  display: flex;
  margin-top: 137px;
  margin-right: 58px;
  list-style-type: none;
}

.navigation-item-footer {
  margin-right: 7px;
  width: 148px;
}

.navigation-item-footer:nth-child(3) {
  margin-right: none;
}

.footer-social-list {
  margin-top: 0;
  margin-left: 144px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:nth-child(3) {
  margin-right: none;
}

.all-contacts {
  margin-left: 103px;
  min-width: 560px;
}

.contacts {
  position: relative;
  margin-top: 49px;
  margin-bottom: 26px;
}

.heading.contacts::before {
  position: absolute;
  width: 80px;
  content: "";
  height: 7px;
  background-color: #000000;
  top: -49px;
}

.text-about-delivery {
  max-width: 498px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  padding: 0;
  margin-bottom: 67px;
  list-style-type: none;
}

.block-info-list {
  margin-bottom: 90px;
  background-color: #f0f0f0;
}

.mailing-yes {
  width: 560px;
  min-height: 120px;
  margin-bottom: 53px;
  margin-top: 75px;
  margin-right: 40px;
}

.message-info {
  letter-spacing: 0.02em;
  width: 560px;
  margin-top: 86px;
}

.message-info-free {
  margin-top: 15px;
  background-image: url("../image/chack-mark.svg");
  background-repeat: no-repeat;
  width: 164px;
  text-align: right;
  background-position-y: center;
  margin-bottom: 143px;
  margin-left: auto;
  letter-spacing: 0.02em;
}

.breadcrumbs-block {
  min-height: 179px;
  width: 1160px;
  margin-left: 60px;
}

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1160px;
}

.button-current {
  color: #ffe17f;
  background-color: #000000;
}


.delivery.button {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.2em;
  font-size: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  width: 160px;
  padding-left: 10px;
  display: flex;
  padding-top: 9px;
  z-index: 1;
}

.delivery.button::before:not(.button-current) {
  top: 15px;
  position: absolute;
  background: #ffc700;
  content: "";
  width: 160px;
  height: 8px;
  z-index: -1;
  left: -15px;
}

.warranty.button {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.2em;
  font-size: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  width: 160px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  min-height: 40px;
}

.warranty.button::before {
  top: 15px;
  position: absolute;
  background: #ffc700;
  content: "";
  width: 160px;
  height: 8px;
  z-index: -1;
  left: 0;
}

.warranty.button:hover {
  background: #ffc700;
}

.warranty.button:focus {
  outline: none;
}

.credit.button {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.2em;
  font-size: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  width: 160px;
  display: flex;
  padding-left: 22px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

.credit.button::before {
  top: 15px;
  position: absolute;
  background: #ffc700;
  content: "";
  width: 160px;
  height: 8px;
  z-index: -1;
  left: 0;
}

.credit.button:hover {
  background: #ffc700;
}

.credit.button:focus {
  outline: none;
}

.navigation-link-name {
  padding-left: 25px;
  position: relative;
  text-decoration: none;
  color: #000000;
  width: 134px;
  display: inline-block;
}

.navigation-link-exit {
  opacity: 0.3;
  color: #000000;
  text-decoration: none;
}

.filter-container {
  position: relative;
  background-color: #dcdcdc;
}

.filter-container::before {
  right: 467px;
  height: 70px;
  position: absolute;
  content: "";
  background-color: #dcdcdc;
  width: 100vw;
}

.text-info {
  position: relative;
  margin-top: 123px;
}

.more-information.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  margin-right: 200px;
  width: 220px;
  background-image: url("../image/more-info.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-card-list-catalog {
  margin-left: 72px;
  margin-bottom: 44px;
  margin-top: 0;
  list-style-type: none;
  gap: 40px 44px;
  grid-template-columns: min-content min-content;
  padding: 0;
  display: grid;
}

.product-card-link-catalog {
  position: relative;
  text-decoration: none;
  color: #000000;
  display: grid;
  grid-template-rows: 380px 32px min-content min-content;
  grid-template-columns: 294px min-content;
}

.product-card-image {
  position: relative;
  width: 360px;
  grid-column: 1/-1;
}

.product-card-link-catalog:hover .button-show-more {
  display: block;
}

.product-card-link-catalog:focus {
  outline: none;
}

.product-card-link-catalog:focus .product-card-image {
  outline: 5px solid #af4fff;
}

.product-card-link-catalog:focus .product-card-title {
  color: #af4fff;
}

.product-card-link-catalog:focus b {
  color: #af4fff;
}

.product-card-link-catalog:active {
  opacity: 0.3;
}

.product-card-link-catalog:active .product-card-image {
  outline: none;
}

.product-card-link-catalog:active .button-show-more {
  display: block;
}

.logo {
  position: absolute;
  left: 63px;
  top: -23px;
}

.more-information.button:hover {
  background-color: #ffe17f;
}

.more-information.button:focus {
  outline: none;
  background-image: url("../image/more-info-purple.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.more-information.button:active {
  background-image: none;
  background-color: #ffe17f;
  opacity: 0.3;
}

.phone-html {
  display: flex;
  flex-direction: column;
}

.number {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
  left: -14px;
  width: 21px;
  height: 21px;
  top: 0;
}

.htmlacademy-link {
  position: relative;
  background-position: center;
  margin-top: 60px;
  width: 115px;
  height: 33px;
  display: inline-block;
  margin-left: auto;
  background-image: url("../image/footer.svg");
  background-repeat: no-repeat;
}

.htmlacademy-link::before {
  position: absolute;
  content: "";
  width: 135px;
  height: 53px;
  top: -10px;
  left: -16px;
}

.htmlacademy-link:hover {
  background-image: url("../image/html-white.svg");
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.htmlacademy-link:active {
  padding: 0;
  border: none;
  background-image: url("../image/html-white.svg");
  opacity: 0.3;
}

.htmlacademy-link:active::before {
  outline: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: none;
}

.navigation-link:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:active::before {
  outline: none;
}

.product-card-box:hover {
  background-color: #ffc700;
}

.product-card-box:focus {
  outline: none;
  border: 5px solid #af4fff;
  color: #af4fff;
}

.product-card-box:focus :last-child {
  color: #af4fff;
}

.product-card-box:active {
  border: none;
  background-color: #ffc700;
}

.product-card-box:active :only-child {
  opacity: 0.3;
}

.product-card-box:active :last-child {
  color: #000000;
  opacity: 0.3;
}

.background-letter-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
  top: 29px;
  position: absolute;
  right: 33px;
}

.rare-icon {
  position: absolute;
  top: 14px;
  left: 19px;
}

.order:hover .background-car-icon {
  background-color: #ffc700;
}

.order:focus {
  outline: none;
  border: 5px solid #af4fff;
}

.order:active {
  border: none;
}

.order:active .rare-icon {
  opacity: 0.3;
}

.order:active .background-car-icon {
  background-color: #ffc700;
}

.order:active .navigation-icon-car {
  opacity: 0.3;
}

.navigation-link-delivery::before,
.navigation-link-warranty::before,
.navigation-link-contacts::before {
  width: 165px;
  content: "";
  position: absolute;
  height: 50px;
  top: -10px;
  left: -26px;
}

.navigation-link-delivery,
.navigation-link-warranty,
.navigation-link-contacts {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navigation-link-delivery:hover,
.navigation-link-warranty:hover,
.navigation-link-contacts:hover {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.navigation-link-delivery:focus::before,
.navigation-link-warranty:focus::before,
.navigation-link-contacts:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-link-delivery:active,
.navigation-link-warranty:active,
.navigation-link-contacts:active {
  border-bottom: 2px solid #000000;
  opacity: 0.3;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
}

.navigation-link-delivery:active::before,
.navigation-link-warranty:active::before,
.navigation-link-contacts:active::before {
  outline: none;
}

.search-field {
  position: relative;
  opacity: 0.3;
  padding: 0;
  background: #ffe17f;
  border: none;
}

.search-button::before {
  position: absolute;
  content: "";
  width: 516px;
  height: 40px;
}

.navigation-find:hover .search-field {
  opacity: 0.6;
}

.search-button:focus {
  outline: none;
}

.search-field:focus {
  outline: none;
}

.search-button:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.navigation-link-catalog {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navigation-link-catalog::before {
  content: "";
  position: absolute;
  width: 263px;
  height: 50px;
  top: -14px;
  left: -20px;
}

.header-catalog-list {
  top: 37px;
  left: -60px;
  background: #ffe17f;
  position: absolute;
  letter-spacing: 0;
  min-width: 640px;
  text-transform: initial;
  padding: 0;
  list-style-type: none;
  font-family: "Rubic", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: none;
  text-decoration: none;
  width: 1160px;
  height: 180px;
  z-index: 3;
}

.product-header-link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.product-header-link::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 27px;
  left: -15px;
  top: -3px;
}

.product-header-link:hover {
  opacity: 0.6;
}

.product-header-link:focus {
  outline: none;
}

.product-header-link:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.product-header-link:active {
  opacity: 0.3;
}

.product-header-link:active::before {
  outline: none;
}

.navigation-item-catalog:hover .header-catalog-list {
  display: flex;
}

.navigation-item-catalog .button-catalog::after {
  content: none;
}

.navigation-item-catalog:hover .button-catalog {
  opacity: 1;
}

.navigation-link-catalog:focus {
  outline: none;
}

.navigation-link-catalog:focus ~ .header-catalog-list {
  display: flex;
}

.navigation-link-catalog:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.navigation-item-catalog:active .navigation-item-catalog {
  outline: none;
}

.navigation-item-catalog:active .navigation-link-catalog {
  opacity: 0.2;
}

.navigation-item-catalog:active .button-catalog {
  opacity: 0.2;
}

.header-catalog-item {
  margin-top: 35px;
}

.header-catalog-item:first-child {
  margin-left: 60px;
  margin-right: 29px;
  width: 210px;
  height: 120px;
}

.header-catalog-item:nth-child(2) {
  width: 200px;
  height: 120px;
}

.header-catalog-item:last-child {
  width: 200px;
  height: 120px;
}

.header-catalog-list-in-item {
  padding: 0;
  list-style-type: none;
}

.header-catalog-item-in-list {
  margin-top: 20px;
}

.header-catalog-item-in-list:first-child {
  margin-top: 0;
}

.mail-input {
  font-family: "Rubic", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  background: #f0f0f0;
  color: #444444;
  border-left: none;
  border-top: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  width: 601px;
  border-right: none;
}

.button.mail {
  font-size: 18px;
  width: 260px;
  padding-top: 17px;
  letter-spacing: 0.1em;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding-bottom: 18px;
  background: #f0f0f0;
}

.button.mail:hover {
  color: #ffffff;
  background-color: #000000;
  border: #000000;
}

.button.mail:focus {
  border: 3px solid #af4fff;
  outline: none;
}

.button.mail:active {
  color: #ffffff;
  background-color: #000000;
  border: #000000;
  opacity: 0.3;
}

.mail-form {
  margin-bottom: 131px;
  display: flex;
  width: 861px;
}

.mail-input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.mail-input:focus {
  background: #dcdcdc;
  outline: none;
}

.mail-input:active {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
  background: #f0f0f0;
}

.mail-input:disabled {
  border-bottom: 3px solid #ff3d3d;
}

.wrapper-for-mail {
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1160px;
}

.footer-social-link {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  display: block;
  height: 40px;
  border-radius: 50%;
}

.social-icon-facebook {
  position: absolute;
  fill: #444444;
  bottom: 11px;
  top: 11px;
  left: 16px;
  right: 15px;
}

.social-icon-instagram {
  position: absolute;
  fill: #444444;
  bottom: 12px;
  top: 12px;
  left: 12px;
  right: 12px;
}

.social-icon-twitter {
  position: absolute;
  fill: #444444;
  bottom: 13px;
  top: 13px;
  left: 13px;
  right: 12px;
}

.footer-social-link:hover {
  background: #ffc700;
}

.footer-social-link:focus {
  background: #444444;
  outline: 5px solid #af4fff;
}

.footer-social-link:focus .social-icon-facebook {
  fill: #ffffff;
}

.footer-social-link:focus .social-icon-instagram {
  fill: #ffffff;
}

.footer-social-link:focus .social-icon-twitter {
  fill: #ffffff;
}

.footer-social-link:active {
  outline: none;
  background: #ffc700;
  opacity: 0.6;
}

.footer-social-link:active .social-icon-facebook {
  opacity: 0.6;
  fill: #444444;
}

.footer-social-link:active .social-icon-instagram {
  opacity: 0.6;
  fill: #444444;
}

.footer-social-link:active .social-icon-twitter {
  opacity: 0.6;
  fill: #444444;
}

.button-show-more {
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 160px;
  height: 20px;
  position: absolute;
  top: 180px;
  left: 100px;
  color: #000000;
  text-decoration: none;
  z-index: 1;
  display: none;
}

.button-show-more::before {
  top: 7px;
  position: absolute;
  background: #ffc700;
  content: "";
  width: 180px;
  height: 8px;
  z-index: -1;
  left: -10px;
}

.button-show-more:hover::before {
  height: 40px;
  top: -10px;
}

.button-show-more:focus {
  outline: none;
}

.button-show-more:active::before {
  opacity: 1;
}

.button-show-more:active {
  opacity: 0.3;
}

.button-in-filter:active::before {
  background: #ffe17f;
  height: 40px;
}

.product-card-item-catalog {
  position: relative;
}

.information-about-us {
  padding-left: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
}

.information-about-us::before {
  top: 9px;
  position: absolute;
  background: #ffe17f;
  content: "";
  width: 259px;
  height: 8px;
  z-index: -1;
  left: -8px;
}

.information-about-us:hover::before {
  height: 50px;
  top: -10px;
}

.information-about-us:focus {
  outline: none;
}

.information-about-us:focus::before {
  background: #af4fff;
}

.information-about-us:active {
  opacity: 0.3;
}

.information-about-us:active::before {
  background: #ffe17f;
  height: 50px;
}

.button-feedback {
  vertical-align: top;
  letter-spacing: 0.1em;
  position: relative;
  padding-left: 34px;
}

.button-feedback::before {
  top: 10px;
  position: absolute;
  background: #ffe17f;
  content: "";
  width: 259px;
  height: 8px;
  z-index: -1;
  right: -29px;
}

.button-feedback:hover::before {
  height: 50px;
  top: -10px;
}

.button-feedback:focus {
  outline: none;
}

.button-feedback:focus::before {
  background: #af4fff;
}

.button-feedback:active {
  opacity: 0.3;
}

.button-feedback:active::before {
  background: #ffe17f;
  height: 50px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-item {
  margin-right: 22px;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  border: 2px solid#af4fff;
  outline: none;
}

.slider-pagination-button:active {
  border: 2px solid #000000;
  opacity: 0.3;
}

.slider-pagination-button-current {
  background: #000000;
}

.slider-button {
  position: relative;
  padding: 10px;
  height: 60px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  background-image: url("../image/slider-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 80px;
  top: -10px;
  left: -10px;
}

.slider-next {
  transform: rotate(180deg);
  margin-right: 19px;
}

.slider-wraper {
  position: relative;
}

.slider-prev {
  margin-left: 19px;
}

.slider-control {
  position: absolute;
  top: 250px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: none;
}

.slider-button:focus::before {
  outline: 2px solid #af4fff;
  border-radius: 6px;
}

.slider-button:active {
  border: none;
  opacity: 0.3;
}

.slider-button:active::before {
  outline: none;
}

.modal-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}

.modal-content {
  margin-top: 72px;
  margin-right: 80px;
  margin-left: 80px;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 72px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 88px;
  background-color: #ffffff;
}

.modal-auth {
  position: relative;
  height: 580px;
  padding: 0;
  width: 920px;
  border: 10px solid #000000;
}

.modal-title {
  height: 60px;
  margin-bottom: 58px;
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.navigation-item {
  position: relative;
}

.popover {
  display: none;
  position: absolute;
  width: 320px;
  min-height: 125px;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  top: 33px;
  right: 0;
  z-index: 3;
  box-sizing: border-box;
}

.popover-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popover-text-info {
  height: 44px;
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.product-basket-list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}

.product-link-in-basket {
  margin-right: 25px;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.product-link-in-basket:hover {
  opacity: 0.6;
}

.product-link-in-basket:focus {
  outline: none;
  color: #af4fff;
}

.product-link-in-basket:focus .product-card-image-in-basket {
  outline: 5px solid #af4fff;
}

.product-link-in-basket:active {
  color: #ffffff;
  outline: none;
  opacity: 0.3;
}

.open-basket-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 280px;
  height: 50px;
  background-color: #ffffff;
  margin: 20px;
}

.open-basket-link:hover {
  background: #ffe17f;
}

.open-basket-link:focus {
  background-color: #ffffff;
  outline: 5px solid #af4fff;
}

.open-basket-link:active {
  background: #ffe17f;
  outline: none;
}

.open-basket-link:active span {
  opacity: 0.3;
}

.open-basket-link span {
  display: flex;
  margin-top: 15px;
  width: 280px;
  height: 20px;
  justify-content: center;
}

.popover-text-info span {
  margin-left: 20px;
  margin-right: 20px;
}

.popover-item {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 41px;
}

.popover-item:last-child {
  margin-bottom: 0;
}

.button-delete-product {
  display: block;
  width: 25px;
  cursor: pointer;
  padding: 0;
  position: relative;
  background-color: #000000;
  border: none;
  height: 25px;
}

.button-delete-product:hover {
  opacity: 0.6;
}

.button-delete-product:focus {
  outline: none;
  border: 2px solid #af4fff;
  border-radius: 50%;
}

.button-delete-product:active {
  border: none;
  opacity: 0.3;
}

.icon-in-popover {
  position: absolute;
  top: 6px;
  left: 4px;
}

.product-card-image-in-basket {
  margin-right: 23px;
}

.product-card-image-in-basket span {
  width: 180px;
  min-height: 43px;
}

.popover-content::before {
  position: absolute;
  width: 12px;
  content: "";
  height: 28px;
  transform: rotate(45deg);
  background-color: #000000;
  top: -6px;
  left: 50%;
  right: 50%;
}

.field-group {
  padding: 0;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.name-icon {
  top: 58px;
  right: 61px;
  position: absolute;
}

.name-mail-block {
  margin-bottom: 10px;
  display: flex;
}

.number-product-block {
  margin-bottom: 54px;
  position: relative;
  display: flex;
}

.modal-label {
  height: 34px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.field-for-name + span {
  font-size: 14px;
  line-height: 20px;
  color: #ff3d3d;
}

.field-for-email + span {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.button-catalog {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0.2;
  border-radius: 50%;
  border: 2px solid #000000;
  box-sizing: border-box;
  background: transparent;
  top: -16px;
  right: 247px;
}

.button-catalog::before {
  transform: translateX(50%);
  right: 50%;
  content: "";
  width: 16px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 24px;
}

.button-catalog::after {
  content: "";
  height: 16px;
  width: 2px;
  background: #000000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17px;
}

.field-for-name {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  background: #f0f0f0;
  width: 340px;
  height: 60px;
  border: none;
  margin-right: 40px;
}

.field-for-email {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  background: #f0f0f0;
  width: 340px;
  height: 60px;
  border: none;
}

.field-for-product {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin-right: 40px;
  background: #f0f0f0;
  width: 540px;
  height: 60px;
  border: none;
}

.text-send {
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.button-send {
  cursor: pointer;
  margin-left: 19px;
  z-index: 1;
  position: relative;
  border: none;
  background-color: #ffffff;
}

.button-send::before {
  top: 7px;
  position: absolute;
  background: #ffc700;
  content: "";
  width: 200px;
  height: 8px;
  z-index: -1;
  left: -19px;
}

.modal-close-button {
  display: block;
  width: 25px;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;
  border: none;
  height: 25px;
  position: absolute;
  right: 80px;
  top: 89px;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: none;
}

.modal-close-button:focus .icon-in-modal {
  padding: 12px;
  border: 5px solid #af4fff;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:active .icon-in-modal {
  padding: 0;
  border: none;
}

.background-icon-modal {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  top: -2px;
  right: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-icon-modal:hover .icon-show-more {
  display: block;
}

.icon-show-more {
  font-size: 16px;
  min-width: 164px;
  min-height: 141px;
  position: absolute;
  display: none;
  color: #ffffff;
  padding-left: 19px;
  padding-top: 19px;
  padding-right: 17px;
  background: #000000;
  box-shadow: 0 10px 0 rgb(0 0 0 / 10%);
  line-height: 20px;
  top: 36px;
  right: -50px;
}

.icon-show-more::before {
  right: 63px;
  top: -6px;
  position: absolute;
  width: 12px;
  content: "";
  height: 28px;
  transform: rotate(45deg);
  background-color: #000000;
}

.modal-email-icon {
  position: absolute;
  right: 24px;
  top: 58px;
}

.button-input-number {
  display: flex;
}

.field-for-number {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: #f0f0f0;
  width: 60px;
  height: 60px;
  border: none;
  text-align: center;
}

.bt-minus {
  cursor: pointer;
  position: relative;
  border: none;
  width: 50px;
  height: 60px;
  padding: 0;
}

.bt-plus {
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 50px;
  height: 60px;
  border: none;
}

.bt-minus::after {
  opacity: 0.3;
  content: "";
  width: 16px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 19px;
  top: 29px;
}

.bt-plus::after {
  right: 19px;
  top: 29px;
  opacity: 0.3;
  content: "";
  width: 16px;
  height: 2px;
  background: #000000;
  position: absolute;
}

.bt-plus::before {
  right: 26px;
  top: 22px;
  opacity: 0.3;
  content: "";
  width: 2px;
  height: 16px;
  background: #000000;
  position: absolute;
}

.auth-form-field:hover {
  background: #ebebeb;
}

.auth-form-field:focus {
  outline: 5px solid #af4fff;
}

.bt-minus::after:focus {
  opacity: 1;
}

.bt-plus:hover .bt-plus::after {
  opacity: 1;
}

.bt-plus:hover .bt-plus::before {
  opacity: 1;
}

.bt-minus:focus {
  outline: none;
}

.bt-plus:focus {
  outline: none;
}

.bt-minus:focus + .bt-minus::after {
  outline: 2px solid #af4fff;
}

.bt-plus:focus .bt-plus::after {
  outline: 2px solid #af4fff;
}

.auth-form-field:active {
  background: #ffffff;
  outline: 3px solid #000000;
}

.auth-form-field:disabled {
  background: #ffffff;
  outline: 3px solid #ff3d3d;
}

.field-for-number:hover .bt-minus {
  background: #ebebeb;
}

.field-for-number:hover .bt-plus {
  background: #ebebeb;
}

.range-scale {
  width: 200px;
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #dcdcdc;
  border-radius: 2px;
}

.range-bar {
  width: 119px;
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:focus {
  outline: none;
  border: 2px solid #af4fff;
  box-sizing: border-box;
}

.range-toggle.toggle-min:focus + .label-for-toggle-min {
  color: #af4fff;
  opacity: 1;
}

.range-toggle.toggle-min:focus + .label-for-toggle-min .range-input-min {
  color: #af4fff;
  opacity: 1;
}

.range-toggle.toggle-max:focus + .label-for-toggle-max {
  color: #af4fff;
  opacity: 1;
}

.range-toggle.toggle-max:focus + .label-for-toggle-max .range-input-max {
  color: #af4fff;
  opacity: 1;
}

.range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.range-toggle.toggle-min:active + .label-for-toggle-min {
  color: #000000;
  opacity: 1;
}

.range-toggle.toggle-min:active + .label-for-toggle-min .range-input-min {
  color: #000000;
  opacity: 1;
}

.range-toggle.toggle-max:active + .label-for-toggle-max {
  color: #000000;
  opacity: 1;
}

.range-toggle.toggle-max:active + .label-for-toggle-max .range-input-max {
  color: #000000;
  opacity: 1;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.range-toggle:active .catalog-filter-label {
  color: #000000;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wraper-inputs {
  width: 155px;
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  width: 59px;
  display: flex;
  opacity: 0.3;
}

.label-for-toggle-min {
  position: absolute;
  top: 17px;
  left: 0;
}

.label-for-toggle-max {
  position: absolute;
  top: 17px;
  left: 96px;
}

.catalog-filter-label:first-child {
  margin-right: 37px;
}

.range-input {
  width: 37px;
  background-color: transparent;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-child {
  position: relative;
  margin-bottom: 65px;
}

.catalog-filter-group:first-child::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -70px;
}

.catalog-filter-group:nth-child(2) {
  position: relative;
  margin-bottom: 46px;
}

.catalog-filter-group:nth-child(2)::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -65px;
}

.catalog-filter-group:nth-child(3) {
  position: relative;
  margin-bottom: 38px;
}

.catalog-filter-group:nth-child(3)::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  top: -70px;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  opacity: 0.2;
}

.control-input[type="checkbox"]:focus + .control-mark {
  border: 2px solid #af4fff;
  opacity: 1;
}

.control-input[type="checkbox"]:focus ~ .control-label {
  color: #af4fff;
}

.control-input[type="checkbox"]:active ~ .control-label {
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark {
  opacity: 1;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  opacity: 1;
  height: 10px;
  background-image: url("../image/catalog/chack-mark-catalog.svg");
  content: "";
}

.control-input[type="checkbox"]:checked:hover ~ .control-label {
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:focus + .control-mark::before {
  background-image: url("../image/catalog/chack-mark-catalog-color.svg");
}

.control-input[type="checkbox"]:checked:focus ~ .control-label {
  color: #af4fff;
}

.control-input[type="checkbox"]:checked:active ~ .control-label {
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked:active + .control-mark {
  opacity: 0.2;
}

.control-mark-yes,
.control-mark-no {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  opacity: 0.2;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-yes {
  opacity: 1;
}

.control-input[type="radio"]:checked + .control-mark-no {
  opacity: 1;
}

.control-input[type="radio"]:checked + .control-mark-yes::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  opacity: 1;
  height: 8px;
  border-radius: 50%;
  content: "";
  background-color: #000000;
}

.control-input[type="radio"]:checked + .control-mark-no::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked:focus + .control-mark-yes {
  border: 2px solid #af4fff;
}

.control-input[type="radio"]:checked:focus + .control-mark-no {
  border: 2px solid #af4fff;
}

.control-input[type="radio"]:checked:focus + .control-mark::before {
  background-color: #af4fff;
}

.control-input[type="radio"]:checked:focus ~ .control-label {
  color: #af4fff;
}

.control-input[type="radio"]:checked:active ~ .control-label {
  opacity: 0.2;
}

.control-input[type="radio"]:checked:active + .control-mark {
  opacity: 0.2;
}

.control-input[type="radio"]:active ~ .control-label {
  opacity: 0.2;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-in-filter {
  cursor: pointer;
  margin-left: 30px;
  z-index: 1;
  position: relative;
  border: none;
  background-color: #e5e5e5;
}

.button-in-filter::before {
  top: 7px;
  position: absolute;
  background: #ffc700;
  content: "";
  width: 200px;
  height: 8px;
  z-index: -1;
  left: -29px;
}


.button-in-filter:hover::before {
  height: 40px;
  top: -10px;
}

.button-in-filter:focus {
  outline: none;
}

.button-in-filter:focus::before {
  background: #af4fff;
}

.button-in-filter:active {
  opacity: 0.3;
}

.button-in-filter span {
  font-family: "Ralewey", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}

.icon-new:not(.have-not-now) {
  position: absolute;
  top: 27px;
  right: 27px;
}

.have-not-now {
  visibility: hidden;
}

.sorting-button {
  position: relative;
  padding: 0;
  margin-right: 19px;
  cursor: pointer;
  width: 11px;
  height: 10px;
  border: none;
  background-color: transparent;
}

.sorting-button::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -5px;
  left: -10px;
  opacity: 1;
}

.sorting-button:hover {
  opacity: 0.6;
}

.sorting-button:focus {
  outline: none;
}

.sorting-button:focus::before {
  outline: 5px solid #af4fff;
}

.sorting-button:active {
  outline: none;
  opacity: 1;
}

.sorting-button:active::before {
  outline: none;
}

.sorting-button span {
  display: none;
}

.pagination-button-current {
  opacity: 0.1;
}

.sorting-button-block {
  margin-left: 330px;
}

.delivery-item {
  display: block;
}

.warranty-item {
  display: none;
}

.credit-item {
  display: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 21px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
